{% extends "layout.html" %}
{% block content %}
<div class="form-container">
  <h2 class="form-title">Agregar Empleado</h2>
  <form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control", size=32) }}
    </div>
    <div class="form-group">
      {{ form.job_title.label(class="form-label") }}
      {{ form.job_title(class="form-control", size=32) }}
    </div>
    <div class="form-group">
      {{ form.work_email.label(class="form-label") }}
      {{ form.work_email(class="form-control", size=32) }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control", size=32) }}
    </div>
    <div class="form-group">
      {{ form.confirm.label(class="form-label") }}
      {{ form.confirm(class="form-control", size=32) }}
    </div>
    <div class="form-group">
      {{ form.submit(class="form-submit") }}
    </div>
  </form>
</div>
{% endblock %}
